@import url(https://fonts.googleapis.com/css?family=Nunito+Sans|Quicksand);.v-btn__content,.v-tabs__item,.v-toolbar__title,h1,h2,h3,h4,h5,h6,p{font-family:Quicksand,sans-serif}.display-1{font-family:Quicksand,sans-serif!important}.v-btn__content{font-size:medium}.v-btn:hover{-webkit-transform:scale(1.07);transform:scale(1.07)}.v-input,.v-text-field,.v-timeline-item,.v-timeline-item__opposite,small{font-family:Nunito Sans,sans-serif}body{background-color:#fff}.Navbar[data-v-40166bbc]{background:transparent;border-color:transparent}.icon[data-v-40166bbc]{width:60%}.white-background[data-v-3e9dfb67]{background-color:#fff}.color-red[data-v-ea193838]{color:red}.color-red[data-v-ea193838],.v-btn[data-v-ea193838]:hover:before{background-color:transparent}






















































/*!* Always set the map height explicitly to define the size of the div*/body[data-v-1eab8be3],html[data-v-1eab8be3]{margin:0;padding:0}.App[data-v-1eab8be3]{width:100vw;height:100vh}