@import url(https://fonts.googleapis.com/css?family=Nunito+Sans|Quicksand);.v-btn__content,.v-tabs__item,.v-toolbar__title,h1,h2,h3,h4,h5,h6,p{font-family:Quicksand,sans-serif}.display-1{font-family:Quicksand,sans-serif!important}.v-btn__content{font-size:medium}.v-btn:hover{-webkit-transform:scale(1.07);transform:scale(1.07)}.v-input,.v-text-field,.v-timeline-item,.v-timeline-item__opposite,small{font-family:Nunito Sans,sans-serif}body{background-color:#fff}.Navbar[data-v-1984895c]{background:transparent;border-color:transparent}.icon[data-v-1984895c]{width:50px;height:50px}





















































/*!* Always set the map height explicitly to define the size of the div*/body[data-v-1eab8be3],html[data-v-1eab8be3]{margin:0;padding:0}.App[data-v-1eab8be3]{width:100vw;height:100vh}.white-background[data-v-174e5a29]{background-color:#fff}.avatar-margin[data-v-174e5a29]{margin:2px}.zero-margin[data-v-174e5a29]{margin:0}.margin[data-v-174e5a29]{margin-left:20px!important}.white-background[data-v-45136ea8]{background-color:red}.color-red[data-v-7c9d191d]{color:red}.color-red[data-v-7c9d191d],.v-btn[data-v-7c9d191d]:hover:before{background-color:transparent}