@import url(https://fonts.googleapis.com/css?family=Nunito+Sans|Quicksand);.v-btn__content,.v-tabs__item,.v-toolbar__title,h1,h2,h3,h4,h5,h6,p{font-family:Quicksand,sans-serif}.display-1{font-family:Quicksand,sans-serif!important}.v-btn__content{font-size:medium}.v-btn:hover{-webkit-transform:scale(1.07);transform:scale(1.07)}.v-card-text,.v-input,.v-text-field,.v-timeline-item,.v-timeline-item__opposite,small{font-family:Nunito Sans,sans-serif}body{background-color:#fff}.Navbar[data-v-56cf298f]{background:transparent;border-color:transparent}.icon[data-v-56cf298f]{width:50px;height:50px}





















































/*!* Always set the map height explicitly to define the size of the div*/body[data-v-43b67f72],html[data-v-43b67f72]{margin:0;padding:0}.App[data-v-43b67f72]{width:100vw;height:100vh}.white-background[data-v-51873585]{background-color:#fff}.avatar-margin[data-v-51873585]{margin:2px}.zero-margin[data-v-51873585]{margin:0}.margin[data-v-51873585]{margin-left:20px!important}.white-background[data-v-2784ad9c]{background-color:red}.fade-out{visibility:hidden;opacity:0;-webkit-transition:visibility 0s 2s,opacity 2s linear;transition:visibility 0s 2s,opacity 2s linear}.color-red[data-v-195a9511]{color:red}.color-red[data-v-195a9511],.v-btn[data-v-195a9511]:hover:before{background-color:transparent}