.Navbar[data-v-2802ee60]{background:transparent;border-color:transparent}





















































/*!* Always set the map height explicitly to define the size of the div*/body[data-v-1eab8be3],html[data-v-1eab8be3]{margin:0;padding:0}.App[data-v-1eab8be3]{width:100vw;height:100vh}.white-background[data-v-8b031e2c]{background-color:#fff}.avatar-margin[data-v-8b031e2c]{margin-left:20px}